absl-py
altair
altgraph
annotated-types
anyio
argon2-cffi
asgiref
astor
asttokens
astunparse
attrs
backports.functools-lru-cache
backports.tempfile
backports.weakref
base58
beautifulsoup4
bleach
blinker
blis
boltons
boto3
botocore
Bottleneck
brotlipy
build
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
debugpy
decorator
defusedxml
Django
docutils
entrypoints
enum-compat
exceptiongroup
executing
fastai
fastjsonschema
fastprogress
filelock
Flask
flatbuffers
fonttools
fsspec
future
gast
gitdb
GitPython
glob2
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
image
ImageHash
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jaraco.classes
jedi
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
keras
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
labelImg
langcodes
lazy_loader
libarchive-c
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
more-itertools
mpmath
murmurhash
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nh3
notebook
notebook_shim
numexpr
numpy
nvidia-ml-py3
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pathlib
pefile
pillow
pip
pkginfo
platformdirs
plotly
pluggy
ply
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycosat
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyOpenSSL
pyparsing
pyproject_hooks
PyQt5
PyQt5-sip
pyrsistent
PySocks
python-dateutil
pytz
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QtPy
readme-renderer
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
ruamel.yaml
ruamel.yaml.clib
ruamel-yaml-conda
s3transfer
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools
sip
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tf-estimator-nightly
thinc
threadpoolctl
tifffile
tinycss2
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
twine
typer
typing
typing_extensions
tzdata
tzlocal
ujson
urllib3
validators
wasabi
watchdog
wcwidth
weasel
webencodings
websocket-client
Werkzeug
wheel
win-inet-pton
wincertstore
wrapt
zipp
zstandard
